
@font-face {
  font-family: 'silkscreen';
  src: url('../fonts/slkscr.ttf') format('truetype');;
}

:root{
  --main-bg-color-dark: #ffca10;
  --main-bg-color-light:#749592;
  --panel-bg-color: #749592;
  --widget-bg-color: #525162;
  --widget-over-color: #353542;
  --input-bg-color: #446668;
  --text-color: #dfdfdf;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'silkscreen', monospace;
  color: var(--text-color);
  background-color: var(--main-bg-color-dark) !important;
  
}

.main-frame {

  color: var(--text-color);
  width: 55%;
  height: 55%;
 
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1%;

}

.panel {

  padding-left: 10%;
  padding-right: 10%;
  padding: 10%;
  background-color: var(--panel-bg-color) !important;
  
}

.interrior-section {

  background-color: var(--panel-bg-color) !important;


}

.grow { transition: all .2s ease-in-out !important; }
.grow:hover { transform: scale(1.2) !important;
              }

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 1.0em;
  height: 1.25em;
  margin: .19em;
  background: #ffffff;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #e9eaeb;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #9fa1a1;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #424242;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #2a2b2a;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #161616;
  animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #000000;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}