@font-face {
  font-family: 'silkscreen';
  src: url('../fonts/slkscr.ttf') format('truetype');;
}


:root{
  --main-bg-color-dark: #293c43;
  --main-bg-color-light:#749592;
  --panel-bg-color: #749592;
  --widget-bg-color: #525162;
  --widget-over-color: #353542;
  --input-bg-color: #446668;
  --text-color: #dfdfdf;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'silkscreen', monospace;
  color: var(--text-color);
  background-color: var(--main-bg-color-dark) !important;
  
}

.main-frame {

  color: var(--text-color);
  width: 63%;
  height: 63%;
 
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 7%;

}

.panel {

  padding-left: 10%;
  padding-right: 10%;
  padding: 10%;
  background-color: var(--panel-bg-color) !important;
  
}

.interrior-section {

  background-color: var(--panel-bg-color) !important;


}

.grow { transition: all .2s ease-in-out !important; }
.grow:hover { transform: scale(1.2) !important; }

/* .vertical-menu {
  width: 100%;
  height: 500px;
  overflow-y: auto;
} */



